:host {
	width: 640px;
	max-width: 100vw;
	max-height: 100vh;
	background: white;
	display: block;

	@media (max-width: 1023px) {
		width: 100%;
	}
}

.container {
	padding: 20px 40px;
}
