<div class="container" [hidden]="sent">
	<div class="headline">{{ 'signForgotten.title' | translate }}</div>
	<form class="form" [ngClass]="{ submitted: submitted }" name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit(form.value)" role="form" novalidate autocomplete="off">
		<controls-component class="fieldset" [options]="options" [form]="form"></controls-component>
		<div class="alert alert--danger fade show" role="alert" *ngIf="error">
			<ng-container [ngSwitch]="error.status">
				<strong *ngSwitchCase="409" [innerHTML]="'signUp.alreadyInUse' | translate"></strong>
				<strong *ngSwitchDefault [innerHTML]="'signUp.error' | translate"></strong>
			</ng-container>
		</div>
		<div class="group group--stack">
			<button type="submit" class="btn btn--primary" [disabled]="submitted || !form.valid" [ngClass]="{ disabled: submitted, invalid: !form.valid, 'btn--busy': busy }"><span>{{ 'signForgotten.send' | translate }}</span></button>
		</div>
	</form>
</div>
<div class="container" [hidden]="!sent">
	<h2>{{ 'signForgotten.title' | translate }}</h2>
	<p>{{ 'signForgotten.forgottenSent' | translate }}</p>
</div>
