@import "../../../scss/variables";

.loader {
	position: absolute;
	z-index: 1;
	height: 5px;
	width: 100%;
	top: 0;
	left: 0;
	background: #222;
	transform: translateY(-100%);
	transition: transform .3s ease-in-out;
	overflow: hidden;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: $primary;
		width: 100%;
		height: 100%;
		transform-origin: 0 0;
		transform: scaleX(0);
	}

}

:host {
	display: none;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);

	&.active {
		display: block;

		.loader {
			transform: translateY(0);

			&:before {
				animation: loading-running forwards 10s ease-out .3s;
			}
		}
	}

	&.finish {
		.loader {
			transform: translateY(-100%);
			transition-delay: .3s;

			&:after {
				animation: loading-running forwards .3s ease-out;
			}
		}
	}
}

@keyframes loading-running {
	to {
		transform: scaleX(1);
	}
}
