// .form {}

.fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	appearance: none;
}

@media (min-width:768px) {
	.fieldset {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	.form-group {
		width: calc(50% - 10px);
		flex: 0 0 calc(50% - 10px);

		&:last-child:nth-child(odd) {
			width: 100%;
			flex: 1 0 100%;
		}
	}
}

label {
	color: #55555a;
	font-weight: 700;
	font-size: 12px;
}

.input-group {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-control,
.form-select__select {
	appearance: none;
	border-radius: 4px;
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 20px 10px;
	box-sizing: border-box;
	margin: 10px 0;
	border: 2px solid #dddddd;
	background: #ffffff;
	color: #083b6b;

	&:hover {
		border-color: #88bef8;
	}

	&:active,
	&:focus {
		background: #e7f4ff;
		border-color: #afd1f6;
		color: #007aff;
		outline: none;
		box-shadow: none;
	}
}

.form-select {
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 62%;
		right: 17px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 5px 0 5px;
		border-color: #007aff transparent transparent transparent;
		pointer-events: none;
	}
}

input,
textarea,
select {
	&:-webkit-autofill {
		background: #e7f4ff !important;
		border-color: #afd1f6 !important;
		color: #007aff !important;
	}
}

textarea {
	&.form-control {
		resize: none;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.alert {
	padding: 5px 10px;
	margin: 0 0 10px 0;
	border-radius: 4px;
	font-size: 13px;

	&--danger {
		background: #fdf1bd;
		color: #ff6d22;
	}
}

.headline {
	font-size: 1.5em;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
