@import './mixins';

section {
	position: relative;

	&>.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.section--background {
	background: $background-secondary;
	color: $foreground-secondary;
}
