<ng-container *useLayout="'MainLayoutComponent'">
	<hero-component [section]="page"></hero-component>
	<section class="section section--form">
		<div class="container">
			<div class="group group--form">
				<form class="form" [formGroup]="form" role="form" novalidate autocomplete="off">
					<!--
					<input class="control__input control__input--text" placeholder="{{ 'test' | label }}" [id]="'test'" [formControlName]="'test'" type="text">
					-->
					<controls-component class="fieldset" [options]="options" [form]="form"></controls-component>
					<!--
					<div class="fieldset">
						<ng-container *ngFor="let option of options">
							<control-outlet class="fieldset__field fieldset__field--{{option.schema}}" [option]="option" [form]="form">
								<ng-template #labelRef let-context>
									<label class="control__label control__label--{{context.option.schema}}" [attr.for]="context.option.key">
									{{ context.option.label | label }} - {{ context.option.type | label }}
									</label>
								</ng-template>
							</control-outlet>
						</ng-container>
					</div>
					-->
					<div class="group group--inline">
						<button type="text" class="btn btn--secondary" [disabled]="submitted" (click)="onReset()"><span>Cancel</span></button>
						<button type="submit" class="btn btn--primary" [disabled]="busy || submitted" [ngClass]="{ 'btn--busy': busy }"><span>Save</span></button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<content-component [page]="page"></content-component>
	<section-sections [sections]="page.related"></section-sections>
	<!-- <related-component [page]="page"></related-component> -->
	<footer-component></footer-component>
</ng-container>
