<section class="section section--background">
	<picture-component [parallax]="10" class="picture picture--background" [image]="section.images | image : 'Default'"></picture-component>
	<div class="container">
		<div class="inner">
			<div class="group group--headline">
				<div class="title" [innerHTML]="section.title"></div>
				<div class="abstract" [innerHTML]="section.abstract"></div>
			</div>
			<div class="group group--btn">
				<a class="btn btn--cta" [routerLink]="section.slug" [innerHTML]="section.title"></a>
			</div>
		</div>
	</div>
</section>
