<div class="page" [ngClass]="{ 'page--editing': editor.editing }">
	<core-google-tag-manager (pageView)="onPageView($event)"></core-google-tag-manager>
	<div class="wrapper">
		<!-- <section-shop-reminder></section-shop-reminder> -->
		<header-component></header-component>
		<router-outlet></router-outlet>
		<core-logger></core-logger>
		<footer-component></footer-component>
		<!-- <section-svg></section-svg> -->
	</div>
	<cookie-component></cookie-component>
	<core-modal-container-component></core-modal-container-component>
	<!-- <loading-transition></loading-transition> -->
	<core-editor #editor></core-editor>
</div>
