@import '../../../scss/mixins';

.swiper-container {
	width: 100%;
	height: auto;
	z-index: 0;
}

.inner {
	@include aspect(3, 2);
	align-items: center;
}

@media (max-width:1023px) {
	.container {
		padding: 100px 15px 30px 15px;
	}
}
