<ng-container [formGroup]="form">
	<label class="form-label" [attr.for]="option.key">{{ option.label | label }}</label>
	<input custom class="form-control" placeholder="{{ option.placeholder | label }}" [id]="option.key" [formControlName]="option.key" type="text">
	<div class="alert alert--danger" *ngIf="control.invalid && (control.dirty || control.touched)">
		<div *ngIf="control.errors.required">{{ 'errors.required' | label }}</div>
		<div *ngIf="control.errors.minlength">{{ 'errors.minlength' | label : null : { minlength: option.minlength } }}</div>
		<div *ngIf="control.errors.maxlength">{{ 'errors.maxlength' | label : null : { maxlength: option.maxlength } }}</div>
	</div>
</ng-container>
