@import "../../../scss/variables";

.section--cookie {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: $background-secondary;
	color: $foreground-secondary;
	padding: 0;
	margin: 0;
	min-height: 0;
	text-align: center;
	font-size: 0.8rem;
	line-height: 2;
}

.container {
	padding: 15px;
}
