<ng-container *ngIf="!cookieAccepted">
	<section class="section section--cookie" (clickOutside)="acceptCookie()">
		<div class="container">
			<div class="group group--cookie">
				<span>This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies. </span>
				<a class="link" [routerLink]="'cookie-policy' | slug">Find out more.</a>
				<button class="btn btn--cta" type="button" (click)="acceptCookie()" title="Got It">Got It</button>
			</div>
		</div>
	</section>
</ng-container>
