@import "../../../scss/variables";

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	color: $foreground-secondary;
	transition: background ease-in-out 400ms;

	&.scrolled {
		background: $background-secondary;
		border-bottom: 1px solid rgba(#ffffff, 0.2);
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
	padding: 15px;
}

.brand {
	flex: 0 1 130px;
	font-family: $font-primary;
	font-size: 1.5rem;
	font-weight: 600;
}

.nav--header {
	flex: 1 0 auto;
}

.nav__item {
	margin-right: 30px;
}

.nav__link {
	font-size: 1.1rem;
}
