<ng-container *ngFor="let feature of page.features">
	<section class="section section--feature">
		<div class="container">
			<div class="group group--headline">
				<h3 [innerHTML]="feature.title"></h3>
				<h4 [innerHTML]="feature.abstract"></h4>
			</div>
			<div class="group group--content">
				<p [innerHTML]="feature.description"></p>
			</div>
			<div class="group group--cta">
				<a [routerLink]="feature.slug | slugAsync">{{feature.title}}</a>
			</div>
		</div>
	</section>
</ng-container>
