<footer class="footer">
	<div class="container">
		<div class="row">
			<div>designr</div>
			<div>
				<control-module class="badge"></control-module>
				<core-module class="badge"></core-module>
				<data-module class="badge"></data-module>
				<editor-module class="badge"></editor-module>
				<page-module class="badge"></page-module>
				<plugins-module class="badge"></plugins-module>
				<section-module class="badge"></section-module>
				<ui-module class="badge"></ui-module>
			</div>
		</div>
	</div>
</footer>
