<ng-container *ngFor="let item of relatedItems">
	<section class="section section--background">
		<picture-component class="picture picture--background" [image]="page.images | image : 'Default'"></picture-component>
		<div class="inner">
			<div class="container">
				<div class="group group--headline">
					<div class="h2" [innerHTML]="page.title"></div>
					<div class="h4" [innerHTML]="page.abstract"></div>
				</div>
				<div class="group group--cta">
					<a class="btn btn--cta" [routerLink]="page.slug | slugAsync">{{page.title}}</a>
				</div>
			</div>
		</div>
	</section>
</ng-container>
